.navbar {
    height: 0vh;
    display: flex;
    justify-content: space-between;
    word-spacing: 100px;
    margin: 10px;
    /* color: white; */
}

.ensure {
    color: white;
    justify-content: space-around;
    text-align: center;
    height: 40vh;
    padding: 100px 20px 100px 200px;
    position: relative;
    font-size: xx-large;
}


.learn {
    border-radius: 30px;
}


.peace {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: relative;
    height: 400px;



}

#sc1 {
    height: 70vh;
    width: 90vw;
    position: absolute;
    padding: 100px;

}

.mind {
    background-color: white;
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    height: 250px;
}

.life {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    height: 250px;
}

.satisfaction {
    background-color: #23A6F0;
    height: 250px;
    /* color: white; */
    padding: 20px;
    /* border: 1px solid black; */
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
}

.peace2 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    height: 250px;
}

.mind2 {
    padding: 30px;
    /* border: 1px solid black; */
    justify-content: space-around;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
}

.life2 {
    padding: 30px;
    /* border: 1px solid black; */
    justify-content: space-around;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
}

.satisfaction2 {
    padding: 30px;
    /* border: 1px solid black; */
    justify-content: space-around;
    /* background-color: yellow; */
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
}

.text {
    text-align: center;
    padding: 100px;
}

.industry h2 {
    text-align: center;
}

.users {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    height: 60vh;
    /* border: 1px solid; */
}

.user1 {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 25px 50px 25px 50px;
}


.user2 {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);

    padding: 25px 50px 25px 50px;
}


.user3 {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);

    padding: 25px 50px 25px 50px;
}


.checked {
    color: orange;
}

.class2 {
    background-color: #c4c4c4c9);
}

.industry {
    /* box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2); */
    padding: 30px;
}

.icons {
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 25px 100px 25px 100px;
    ;
}

.news {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    height: auto;
    padding: 10px;
    object-fit: contain;
}

.price {
    text-align: center;
    padding: 50px;
}

.try {
    display: flex;
    align-items: center;
    padding: 50px 100px 50px 500px;

}

.free {
    border: 1px solid #23A6F0;
    text-align: center;
    border-radius: 10px;
    padding: 40px;

}

.standard {
    border: 1px solid #23A6F0;
    text-align: center;
    height: 500px;
    border-radius: 10px;
    padding: 40px;
    background-color: #252B42;
    color: white;
}


.premium {
    border: 1px solid #23A6F0;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
}

.trybutton {
    background-color: #23A6F0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: x-large;
}

.dollar {
    color: #23A6F0;
}

.branches {
    display: flex;
    background-color: #252B42;
    justify-content: space-around;
    color: white;
    padding: 50px 50px 250px 50px;
    position: absolute;
    /* height: 50vh; */
    width: 100vw
    ;


}

.appointment {
    display: flex;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    position: relative;
    /* height: 30vh; */
    padding-left:  600px;
    padding-top: 400px;
    width: 100vw;
    
    
}

.appoint{
    background-color: whitesmoke;
    width: 20vw;
    text-align: center;
}

.consult {
    display: flex;
    justify-content: space-around;
    padding: 25px 100px 25px 100px;

}

.bt2 {
    height: 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
}