.navbar {
    height: 0vh;
    display: flex;
    justify-content: space-between;
    word-spacing: 100px;
    margin: 10px;
    /* color: white; */
}

.navs {
    /* word-spacing: 5px; */
}

#become {
    background-color: #23A6F0;
    padding: 10px;
    border-radius: 5px;

}

.peace {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: wheat;
}

#sc1 {
    height: 10px;
}

.mind {
    /* background-color: white; */
    /* border: 1px solid black; */
    padding: 30px;
}

.life {
    /* background-color: white; */
    padding: 30px;
}

.satisfaction {
    background-color: #23A6F0;
    /* color: white; */
    padding: 30px;
    /* border: 1px solid black; */
}

.peace2 {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background-color: thistle;
}

.mind2 {
    padding: 30px;
    /* border: 1px solid black; */
    justify-content: space-around;
}

.life2 {
    padding: 30px;
    /* border: 1px solid black; */
    justify-content: space-around;
}

.satisfaction2 {
    padding: 30px;
    /* border: 1px solid black; */
    justify-content: space-around;
    /* background-color: yellow; */
}

.text {
    text-align: center;
    padding: 100px;
}

.industry h2 {
    text-align: center;
}

.users {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    height: 60vh;
    /* border: 1px solid; */
}

.user1 {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    padding: 25px 50px 25px 50px;
}


.user2 {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);

    padding: 25px 50px 25px 50px;
}


.user3 {
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);

    padding: 25px 50px 25px 50px;
}


.checked {
    color: orange;
}

.class2 {
    background-color: #c4c4c4c9);
}

.industry {
    /* box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2); */
    padding: 30px;
}

.icons {
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 25px 100px 25px 100px;
    ;
}

.news {
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    height: auto;
    padding: 10px;
    object-fit: contain;
}

.price {
    text-align: center;
    padding: 50px;
}

.try {
    display: flex;
    align-items: center;
    padding: 50px 100px 50px 500px;

}

.free {
    border: 1px solid #23A6F0;
    text-align: center;
    border-radius: 10px;
    padding: 40px;

}

.standard {
    border: 1px solid #23A6F0;
    text-align: center;
    height: 500px;
    border-radius: 10px;
    padding: 40px;
    background-color: #252B42;
    color: white;
}


.premium {
    border: 1px solid #23A6F0;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
}

.trybutton {
    background-color: #23A6F0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: x-large;
}

.dollar {
    color: #23A6F0;
}

.branches {
    display: flex;
    background-color: #252B42;
    justify-content: space-around;
    color: white;
    padding: 50px 50px 100px 50px;
    /* position: relative; */


}

.appointment{
    display: flex;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    /* text-align: center; */
    /* position: absolute; */
    /* height: 30vh; */
}

.consult{
    display: flex;
    justify-content: space-around;
    padding: 25px 100px 25px 100px;

}

.bt2{
   height: 50px;
}

